.home-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 2rem;

	&__main {
		width: 100%;
	}

	&__image {
		width: 10vw;
		border-radius: 10px;

		@media (max-width: 1919px) {
			width: 14.1vw;
		}
		@media (max-width: 1439px) {
			width: 14vw;
		}
		@media (max-width: 1023px) {
			width: 16.5vw;
		}
		@media (max-width: 767px) {
			width: 90vw;
		}
	}

	&__popular-movies {
		width: 90%;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 374px) {
			font-size: 20px;
		}
	}

	&__carousel {
		display: flex;
		gap: 10px;
		white-space: nowrap;
		overflow-x: scroll;
		display: flex;
		gap: 15px;

		margin: 0 auto;
		scrollbar-width: none;
		-ms-overflow-style: none;

		::-webkit-scrollbar {
			width: 0 !important;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;

			h5 {
				text-wrap: wrap;
			}
		}

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__wrapper {
		display: flex;
		gap: 5rem;

		@media (min-width: 1439px) {
			gap: 1rem;
		}
	}

	&__actions {
		gap: 1rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 90vw;

		@media (max-width: 1919px) {
			gap: 1rem;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			width: 100%;
		}

		@media (max-width: 1023px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5rem;
			width: 90vw;
		}

		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5rem;
		}

		@media (max-width: 374px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5rem;
		}
	}

	&__title {
		font-size: 50px;
		color: whitesmoke;
		width: 85%;

		@media (max-width: 374px) {
			font-size: 35px;
		}
	}

	&__details {
		color: rgb(235, 217, 217);
		width: 90%;
		padding: 15px;
		text-align: center;
		margin: 0;
	}

	&__img {
		width: 400px;
		height: 400px;

		@media (max-width: 1919px) {
			width: 20vw;
		}

		@media (max-width: 1439px) {
			display: none;
		}

		img {
			border-radius: 50%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.text-nowrap {
	text-align: center;
}
