.favorites-list {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  margin-top: 2rem;
  margin: 2rem auto;
  gap: 1rem;
}


.film-wrapper {
  max-width: 1400px;
  margin: 0 auto;


  @media(max-width:1439px) {
    width: 80%;
  }
}