.film-page {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 70vw;
}

.film-details {
  width: 65%;
  padding: 20px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.film-title {
  font-size: 2rem;
  margin-bottom: 10px;

}

.film-rating {
  font-weight: bold;
  margin-bottom: 10px;
}

.film-description {
  margin-bottom: 20px;
  text-align: left;
}

.film-image {
  width: 35%;
  height: 100%;
  padding: 20px;
}

.film-image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.film-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 22px;
  gap: 1rem;
}

.film-genres {
  display: flex;
  gap: 10px;

}

.film-genres__item {
  background-color: darkgrey;
  border-radius: 50px;
  padding: 10px;
  color: black;
}

.demo-bg {

  opacity: 0.1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  z-index: -1;
}

.film-actions button:hover:focus:active {
  background-color: darkgray;
  color: whitesmoke;
}

.film-actions button {
  transition: .5s;
}


.film-actors-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}